<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo reference="mobile_base_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Grey"/>
  </gazebo>
  <gazebo reference="wheel_right_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Black"/>
  </gazebo>
  <gazebo reference="wheel_left_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Black"/>
  </gazebo>
  <gazebo reference="arm_base_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Grey"/>
  </gazebo>
  <gazebo reference="arm_1_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Orange"/>
  </gazebo>
  <gazebo reference="arm_2_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Blue"/>
  </gazebo>
  <gazebo reference="arm_3_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Orange"/>
  </gazebo>
  <gazebo reference="arm_4_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Blue"/>
  </gazebo>
  <gazebo reference="arm_5_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Orange"/>
  </gazebo>
  <gazebo reference="arm_6_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Blue"/>
  </gazebo>
  <gazebo reference="arm_7_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Orange"/>
  </gazebo>
  <gazebo reference="arm_8_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
    <material value="Gazebo/Blue"/>
  </gazebo>

  <transmission name="wheel_right_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_right_joint">
      <!--<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>-->
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_right_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="wheel_left_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_left_joint">
      <!--<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>-->
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_left_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="arm_1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_1_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!--hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface-->
    </joint>
    <actuator name="arm_1_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_2_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_2_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!--hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface-->
    </joint>
    <actuator name="arm_2_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_3_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_3_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!--hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface-->
    </joint>
    <actuator name="arm_3_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_4_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_4_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!--hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface-->
    </joint>
    <actuator name="arm_4_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_5_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_5_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!--hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface-->
    </joint>
    <actuator name="arm_5_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_6_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_6_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!--hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface-->
    </joint>
    <actuator name="arm_6_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_7_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_7_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!--hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface-->
    </joint>
    <actuator name="arm_7_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_8_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_8_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!--hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface-->
    </joint>
    <actuator name="arm_8_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!--    <gazebo>
      <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
        <robotNamespace>simple_robot</robotNamespace>
        &lt;!&ndash;<filterJointsParam>joint_names</filterJointsParam>&ndash;&gt;
      </plugin>
    </gazebo>-->
</robot>
